.container {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 30px;
}
.data-container{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 25px;
  margin: auto;
}
@media(max-width: 700px) {
  .container {
    width: 95%;
  }
}
.about-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-container img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.about-container .text {
  margin-left: 20px;
}

.about-container h2 {
  font-size: 20px;
  margin: 0;
}

.about-container p {
  font-size: 16px;
  margin: 0;
}